.options {
    display: flex;
    margin: 0 auto;
    flex: 1;
}

.option {
    letter-spacing: 1px;
    font-weight: 500;
    font-family: "Poppins";
    text-transform: uppercase;
    display: flex;
    font-size: 0.7em;
    justify-content: center;
    align-items: center;
    min-width: 9em;
    text-align: center;
    cursor: pointer;
}

