@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.logo-container {
    position: relative;
    width: 100vw;
    margin: 0 auto;
    display: block;
}

#logo-picture {
    width: 300px;
    margin: 0 auto;
    display: block;
}

#tag {
    font-weight: 500;
    letter-spacing: 1px;
    font-family: "Poppins";
    text-transform: uppercase;
    font-size: 0.7em;
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: 3.5em;
    transform: translateX(-50%);  
    width: 300px;
    display: block;
    color: #73c72a;
}