.App-header {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

li {
    list-style: none;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 2em;
}