
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(231, 231, 237);
}


.App {
    background-color: rgb(3, 1, 18);
    width: 100vw;
    height: 100vh;
}

.App-header {
    display: flex;
}

